.clear{
	clear: both;;
}

body{
	margin-top: 0px;
	margin-left:0px;
}

#nav{
	background-color: #11241B;
	height: 65px;
}

#nav h3{
	margin: 0px;
	padding: 20px;
	color: white;
	font-size: 25px;
}
#button{
	float: left;
	margin: 15px;
	background-color: #11241B;
	border-radius: 20px
}
#main{
	max-height: 583px;
	overflow-y: scroll;
}
#container1{
	max-width: 100%; 
	margin-left: 75px
	}
#box2{
	width: 70%;
	float: left;
}
#box3{
	margin-top: 35px;
	margin-right: 40px;
	width: 15%;
	min-height: 30px;
	float: right;
	background-color: red;
	border-radius: 30px;
}
#box3 h5{
	text-align: center;
	color: white;
	margin: 7px
}
#container2{
	height:150px;
	margin:20px;
	margin-left: 75px;
	max-width: 90%
}
.box4{
	border: 0.5px solid #B2C5B4;
	width: 23%;
	float: left;
	margin-left: 20px;
	height: 100%
		}

.box4 h2{
	margin:25px
}
.box4 p{
	font-size: 70px;
	color: green;
	margin-top: 20px;
	text-align: right;
	margin-right: 25px;
}
#container3{
	margin-left: 93px;
	max-width: 88%;
	border: 0.5px solid #E2EEE4;
	padding: 10px;
}
.result{
		max-width:15%;
		float: left;
		height: 100%
	}
.result h3{
	margin: 15px;
	text-align: center;
	color: #838B87;
}
#box5{
	min-height: 50px;
	background-color: #E4EDE5;
}
#table1{
	min-width: 80%;
	max-width: 90%;
	padding: 20px;
	margin: auto;
}
.table{
			width: 98%;
			margin: auto;
			margin-top: 30px;
			height: 80%
		}
.table tr th{
	border: 0.5px  solid #B0BAB1;
	font-size: 23px; 
}
.table tr td{
	text-align: center;
	font-size: 18px;
	padding: 8px;
	border-bottom: 2px solid #B0BAB1;
	border-collapse: collapse;
		}
#container4{
	margin: 15px;
	margin-left: 75px;
	max-width: 88%;
	height: 350px;
	padding: 10px;
}
.box7{
	border: 0.5px solid #B2C5B4;
	width: 35%;
	float: left;
	margin-left: 20px;
	height: 100%;
	padding: 20px;
}
#table2{
	height:250px;
	overflow-y: scroll; 
}